<Container>
    <div>
        <h4 style="text-align: center; " class="mt-5">Order Placed Successfully</h4>
      <div style="text-align: center; " >
        <a style="text-align: center; "  class="btn btn-success mt-4" href='/order-list'>Order List</a>
        </div>
    </div>
</Container> 